<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BillSystem.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BillSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BillSystem.Settings1>
            <setting name="year" serializeAs="String">
                <value>2008</value>
            </setting>
            <setting name="month" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="eraseNum" serializeAs="String">
                <value>2</value>
            </setting>
        </BillSystem.Settings1>
    </userSettings>
    <applicationSettings>
        <BillSystem.Properties.Settings>
            <setting name="Tax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Adr_fromTel" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>localhost\SQLEXPRESS;Database=paper;Trusted_Connection=True</value>
            </setting>
            <setting name="BackUpApp" serializeAs="String">
                <value>C:\tool\BackUpCmd\Backup.bat</value>
            </setting>
            <setting name="Pdf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PdfOutPath" serializeAs="String">
                <value>D:\Pdf</value>
            </setting>
            <setting name="PdfOpenApp" serializeAs="String">
                <value>Acrobat.exe</value>
            </setting>
        </BillSystem.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
